*,
::after,
::before {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
.head {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-image: url(../img/HEROImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.header {
  padding: 50px 0 0 215px;
}
.nav-main {
  font-size: 0;
}
.nav-main__links a {
  font-size: 14px;
  letter-spacing: ;
  text-decoration: none;
  margin-right: 30px;
  color: inherit;
}
.nav-main__logo {
  width: 40% ;
  display: inline-block;
}
.nav-main__links {
  width: 50%;
  text-align: right;
  display: inline-block;
}
.agency {
  width: 565px;
  height: 240px;
  margin: 150px 25%;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}
.agency__title {
  font-size: 40px;
}

.line {
  width: 100px;
  border-top: 2px solid white;
  margin: 50px 45% 40px;
}
.btn {
 width: 50px;
}
.btn__img {
  width: 50px;
  height: 50px;
}


.services {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.services__title {
  margin: 80px auto;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.line2 {
  width: 100px;
  border-top: 2px solid black;
  margin: 40px auto;
}

.servic {
  width: 80%;
  height: 350px;
  margin: auto;
  border: 1px solid red;
}

.servic__block {
  width: 28%;
  height: 100%;
  display: inline-block;
  border: 1px solid green;
  margin-left: 50px;
}
.servic__img,
.servic__text {
  text-align: center;
}
.servic__text {
  margin-top: 50px;
}
p {
  margin-top: 40px;
  font-size: 16px;
  line-height: 150%;
}
span {
  font-size: 20px;
  font-weight: bold;
}

.aboutus {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-color: #222222;
  background-image: url(../img/[IMG].png);
  padding-top: 50px;
  font-family: 'Lato Thin', sans-serif;
  color: white;
}
.phone {
  position: absolute;
  right: 200px;
  bottom: 0;
}
.aboutus__text {
  margin: 200px 0 0 90px;
  font-size: 40px;
  font-weight: bold;
}

.bigtext {
  width: 440px;
  height: 70px;
  overflow: hidden;
  font-size: 18px;
  line-height: 130%;
  text-align: left;
}
.moretext a {
 color: white;
}
.moretext {
 margin-top: 70px;
 font-size: 16px;
}
.bigtext:active {
  height: 300px;
}

.ourwork {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.ourwork__title {
  margin: 50px auto;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.ourwork__img {
  width: 1200px;
  height: 390px;
  margin: 40px auto;
  border: 1px solid red;
}
.ourworkimg {
  display: inline-block;
  width: 360px;
  height: 100%;
  margin-left: 30px;
  border: 1px solid blue;
  overflow: hidden;
}

/*.ourwork__hover {
  position: relative;
  width: 360px;
  height: 390px;
}*/
.hover {
  position: relative;
  width: 350px;
  height: 380px;
  border: 5px solid yellow;
  height: inherit;
  bottom: 400px;
  left: 30px;
  background: #3a3a3a;
  opacity: .5;
  color: white;
  text-align: center;
}
.hover_link {
  margin: 100px auto;
}
.hover:hover {
  display: none;
}
.ourworkimg_one {
  width: 100%;
}
.ourworkimg_two {
  width: 170%;
  position: relative;
  right: 120px;
}
.ourworkimg_three {
  position: relative;
  right: 210px;
}
.morebtn {
  width: 370px;
  height: 65px;
  margin: 60px auto;
}
.morebtn_input {
  width: inherit;
  height: inherit;
  border: 1px solid #222222;
  color: #222222;
  background-color: transparent;
  font-size: 24px;
}


.sectionGetInTouch {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url(../img/bg.png);
    color: white;
}

.titleGetInTouch {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    width: 100%;
    font-size: 50px;
    margin-top: 100px;
    color: white;
}

.separatorGetInTouch {
    margin: 50px auto;
    text-align: center;
    width: 800px;
    height: 30px;
    color: white;
}
.social {
    width: 260px;
    height: 60px;
    margin: auto;
}
.soc {
    display: inline-block;
    margin-left: 25px;
}
.btn {
    margin-left: 44.5%;
}
.btnSend {
    width: 170px;
    height: 60px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
.form {
    width: 700px;
    height: 220px;
    margin-left: 28%;
}
.form_email {
    width: inherit;
    height: 80px;
}
.form_t {
    display: inline-block;
}
.form_t:nth-child(2) {
    margin-left: 60px;
}
.info_form {
    width: 300px;
    border: none;
    height: 30px;
    font-style: italic;
    font-size: 17px;
    border-bottom: 1px solid #afafaf;
    background-color: transparent;
    color: #5a5a5a;
}
.mess_form {
    width: 665px;
    border: none;
    height: 30px;
    font-style: italic;
    font-size: 17px;
    border-bottom: 1px solid #afafaf;
    background-color: transparent;
    color: #5a5a5a;
    margin-top: 80px;
}
