body {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 50px;
}

h1 {
 text-decoration: underline;

}

img {
 border: 5px solid white;
 float: left;
 margin-right: 50px;
 }
 .block {
   margin-top: 50px;
   columns: 200px;
 }

.strong {
  font-weight: bold;
}
