*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: HansKendrick;
    src: url(../fonts/HansKendrick-Regular.otf);
}

body {
    background-color: #e2e7ec;
    font-family: "HansKendrick", sans-serif;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    min-width: 800px;
    max-width: 1200px;
}

.card {
    height: 540px;
    background: white;
    margin: 10px;
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
}

.card__main {
    width: calc(200% / 3 - 20px);
}

.card_image__main {
    position: relative;
}

.card_title__main {
    position: absolute;
    width: 430px;
    left: 80px;
    text-transform: uppercase;
    bottom: 120px;
    margin: 20px 30px;
    font: 700 30px/36px "HansKendrick", sans-serif;
    color: white;
}

.card_date__main {
    position: absolute;
    left: 80px;
    bottom: 230px;
}

.card_date,
.card_title {
    margin: 20px 30px;
    font-size: 16px;
}

.card_date {
    color: #cdcdcd;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
}

.card_title {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    margin-top: auto;
}

.card_author {
    width: 55px;
    height: 55px;
    margin: 30px;
    margin-top: auto;
}