body {
  font: 14px/1 'Lato', sans-serif;
}
@font-face {

font-family: 'Miso';
src: url('../fonts/miso-light.ttf') format('truetype');
src: url('../fonts/miso-bold.ttf') format('truetype');
}

.wrap {
  background-color: #fdde7e;
  width: 1200px;
  height: 550px;
  margin: 50px auto;
}
.cup {
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.bronze,
.silver,
.gold {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 440px;
  background-color: white;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .2);
  border-radius: 3px;
}
.bronze,
.silver {
  justify-content: center;
}
.gold--height {
  height: 500px;
  justify-content: space-around;
}
.h1 {
  font: bold 60px/1px 'Miso', sans-serif;
  color: #02995b;
}
.h2 {
  font: 48px/1px 'Miso', sans-serif;
}
.text {
  width: 160px;
  height: 45px;
  text-align: center;
  font: 18px/18px 'Lato', sans-serif;
}
