body {
  font-family: Trebuchet MS, Trebuchet, Arial, sans-serif;
  background-color: #3b3f45;
  color: white;
  font-size: 14px;
  margin: auto;
  height: 93vh;
  border: 3vh solid white;
}
header {
  background-color: #4a4f56;
  color: #eb7e7f;
  padding: 10px 0;
  text-align: center;
}
h1 {
  padding-top: 10px;
}
p {
  font-size: 20px;
  margin-top: -15px;
}
section {
  width: 60%;
  margin: auto;
  padding-top: 18px;
}
li {
  list-style-type: none;
  background-color: #88839e;
  line-height: 40px;
  font-size: 18px;
}
li:nth-child(2n) {
  background-color: #7a7593;
}

li:hover {
  background-color: #625e77;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

li:active {
  background-color: #eb7e7f;
}

input:checked + span {
  text-decoration: line-through;
  color: #a3a0b5;
}

li:first-child::after {
  font-size: 12px;
  margin-left: 5px;
  color: #b8cbd6;
}
 span>span {
   font-size: 12px;
 }

 span>span::before {
   content: "("
 }

 span>span::after {
   content: ")"
 }

* {
  transition: all .2s ease-in;
}

footer {
  width: 56%;
  margin: 20px 23% ;
  padding: 7px;
  background-color: #4a4f56;
  text-align: center;
  font-size: 20px;
  color: #eb7e7f;
}
