.body {
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

.product-card {
   background: url(../img/bg_t.png),
   url(../img/bg.png);
   width: 875px;
   height: 600px;
   position: relative;
   margin: auto;
       }

.body-card {
   width: 750px;
   height: 407px;
   background: #f4f4f4;
   position: absolute;
   box-shadow: -25px 0 0px -10px rgba(255, 255, 255, .6),
   25px 0 0px -10px rgba(255, 255, 255, .4),
   -45px 0 0px -20px rgba(255, 255, 255, .4),
   45px 0 0px -20px rgba(255, 255, 255, .4);
   top: 0px;
   bottom: 0;
   left: 0px;
   right: 0;
   margin: 100px auto;
}
.nav-main {
  padding-top: 15px;
}
.nav-main__logo {
  width: 50px;
  height: 25px;
  margin-left: 65px;
  display: inline-block;
}
.nav-main__links {
  width: 590px;
  height: 25px;
  margin-left: 110px;
  display: inline-block;
}
.nav-main__links_style {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-left: 40px;
}
.nav-main__menu {
  display: inline-block;
  width: 18px;
  height: 15px;
  margin: 7px 0 0 125px;
  background: url(../img/btn_menu.png);
}
.nav-main__links_style:nth-child(2) {
  text-decoration: underline;
}
.body-card__product {
  width: 495px;
  height: inherit;
  background: url(../img/Group.png) 60% 20% no-repeat,
              url(../img/bg1.png) 90% 20% no-repeat;
}
.body-card__product-img {
  margin: 80px 0 0 50px;
}
.body-card__product-images {
  width: 190px;
  height: 43px;
  margin: 20px auto;
}
.body-card__product-images1,
.body-card__product-images2,
.body-card__product-images3 {
  width: 38px;
  height: 38px;
  border: 2px solid white;
  display: inline-block;
}
.body-card__product-images2,
.body-card__product-images3 {
  margin-left: 20px;
}
.body-card__product-images1 {
  background: url(../img/62.png);
}
.body-card__product-images2 {
  background: url(../img/61.png);
}
.body-card__product-images3 {
  background: url(../img/6.png);
}
.body-card__content,
.body-card__product {
  display: inline-block;
}
.body-card-content {
  width: 250px;
  height: 407px;
  position: absolute;
  background-color: white; 
  top: 0;
  right: 0;
}
.close {
position: absolute;
right: 8px;
top: 5px;
width: 15px;
height: 15px;
opacity: 0.2;
}
.close:before, .close:after {
position: absolute;
left: 10px;
content: ' ';
height: 15px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
.new-block {
  width: 40px;
  height: 22px;
  font-size: 14px;
  text-align: center;
  color: white;
  background: orange;
  margin: 40px 0 0 30px;
}
.title-content {
  font-size: 24px;
  margin: 10px 0 0 30px;
}
strong {
color: #5e4fff;
}
.rate {
  width: 170px;
  height: 15px;
  margin: 15px 0 0 30px;
}
.rate__title {
  font-size: 12px;
  font-weight: bold;
  width: 50px;
  display: inline-block;
}
.rate__stars {
  width: 65px;
  margin-left: 10px;
  display: inline-block;
}
.rate__stars1 {
  display: inline-block;
}
.price {
  margin: 20px 0 0 30px;
  font-size: 22px;
}
.size {
  margin: 20px 0 0 30px;
  font-weight: bold;
  font-size: 12px;
}
.size__number1 {
  width: 24px;
  height: 22px;
  display: inline-block;

  padding-top: 5px;
  font-size: 16px;
}
.size__number1:nth-child(4) {
  border: 1px solid black;
}
.size__number1--left {
  margin-left: 12px;
  text-align: center;
}
.btns {
  width: 120px;
  height: 70px;
  margin: 25px 0 0 30px;
}
.btns__2 {
  margin-top: 5px;
}
.btns__add {
  width: 100%;
  height: 30px;
  color: white;
  background: #a200b8;
  font-size: 12px;
  border: none;
}
.btns__wish {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  background: transparent;
  font-weight: bold;
}
