
div {
  width: 400px;
  height: 400px;
  position: relative;
  background: #252137;
  background:
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	#253137;
  background-size: 100px 100px;
}
.checkers1,
.checkers2 {
  width: inherit;
  height: 50%;
}
.red {
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}
.red:nth-child(2),
.red:nth-child(3),
.red:nth-child(4),
.red:nth-child(5),
.red:nth-child(6),
.red:nth-child(7),
.red:nth-child(8),
.red:nth-child(10),
.red:nth-child(11),
.red:nth-child(12) {
  margin-right: 50px;
}
.red:nth-child(9) {
  margin: 0px;
}
.white {
  width: 50px;
  height: 50px;
  float: left;
  border-radius: 50%;
  background-color: white;
}
.white:first-child {
  margin-top: 50px;
}
.white:nth-child(2),
.white:nth-child(3),
.white:nth-child(4) {
  margin-top: 50px;
 margin-left: 50px;
}

.white:nth-child(5) {
margin-top: 100px;
}
.white:nth-child(6) {
  margin-top: -50px;
  margin-left: 50px;
}
.white:nth-child(7) {
  margin-top: -50px;
  margin-left: 150px;
}
.white:nth-child(8) {
  margin-top: -50px;
  margin-left: 250px;
}
.white:nth-child(10),
.white:nth-child(11),
 .white:nth-child(12) {
 margin-left: 50px;
}
