@colorMain: #ffcc00; //yellow
@colorText: #898f8f; //grey
@fontfamilyMain: 'Raleway', sans-serif;
@fontfamilySecondary: 'Open Sans', sans-serif;
@fontfamilyAccent: 'Roboto', sans-serif;


._font (@size: 24px; @weight: bold; @fontFamily: @fontFamilyMain) {
    font: @weight ~'@{size}/1.2' @fontFamily;
}
/*.profile {
  color: @colorMain;
  ._font(@size: 14px; @fontFamily: @fontFamilyAccent);
}*/
body {
    color: @colorText;
    width: 100vw;
}
.header {
     width: 315px;
     height: 85px;
     margin: 50px auto;
}
.h2 {
    font: 400 18px/18px @fontfamilyMain;
}
.h1 {
    color: @colorMain;
    font: 900 60px/1px @fontfamilyAccent;
    text-align: center;
}
.line {
    width: 30px;
    height: 25px;
    margin: auto;
    position: relative;
    background: url(img/bonfireicon.png) no-repeat;
    &::before,
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 210px;
        height: 1px;
        background: @colorMain;
    }
    &::before {
        right: 40px;
        top: 50%;
    }
    &::after {
        top: 50%;
        left: 25px;
    }
}
.main {
    display: flex;
    justify-content: space-around;
}
.arrow {
    width: 10px;
    height: 10px;
    border: 1px solid @colorMain;
    transform: rotate(45deg);
    margin-top: 270px;
    top: 50%;
}
.arrow__left {
    border-top: none;
    border-right: none;
}
.arrow__right {
    border-bottom: none;
    border-left: none;
}
.section {
    width: 425px;
    height: 410px;
    padding-top: 70px;
    text-align: center;
    position: relative;
}
.section_two::before {
    content: "";
    display: block;
    width: 1px;
    height: 550px;
    top: 0;
    left: -70px; 
    background: @colorMain;
    position: absolute;
}
.h3{
   font: 700 36px/1 @fontfamilyAccent;
   color: #666666;
   position: relative;
   &::after {
       content: "";
       display: inline-block;
       width: 100px;
       height: 1px;
       background: @colorMain;
       position: absolute;
       left: 40%;
       top: 50px;
   }
}
.h4 {
    font: 400 24px/1 @fontfamilyMain;
}
.social {
    width: 135px;
    height: 30px;
    margin: 25px auto;
    display: flex;
}
.social_item {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border: 2px solid #cccccc;
    border-radius: 50%;
}
.social_item__f {
    background: url(img/facebookicon.png) no-repeat center; 
}
.social_item__tw {
    background: url(img/twittericon.png) no-repeat center;
}
.social_item__g {
    background: url(img/boogleplusicon.png) no-repeat center;
}
.social_item__in {
    background: url(img/linkedinicon.png) no-repeat center;
}
.photo {
    @borderWidth: 1px;
    display: inline-block;
    border: @borderWidth solid @colorMain;
    padding: 15px;
    position: relative;
    &::before,
    &::after {
        position: absolute;
        content: "";
        background: white;
        z-index: 1;
        top: -@borderWidth;
        left: -@borderWidth;
    }
    &::before {
        width: 50%;
        height: ~"calc(100% +  @{borderWidth} * 2)";
        margin: 0 25%;
    }
    &::after {
        height: 50%;
        width: ~"calc(100% +  @{borderWidth} * 2)";
        margin: 25% 0;
    }
    &_image {
        display: block;
        position: relative;
        z-index: 2;
        border: @borderWidth solid @colorMain;
    }
}
.profile_box {
    width: 50px;
    margin: 20px auto;
    height: 5px;
    background: url(img/boxes.png)
}
.profile_button {
    width: 120px;
    height: 25px;
    border: 1px solid @colorMain;
    margin: 50px auto;
}
.button{
    text-decoration: none;
    color: @colorText;
    text-transform: uppercase;
    font: 700 14px/24px @fontfamilySecondary;
}
.pagination {
    width: 65px;
    height: 15px;
    margin: 80px auto;
    display: flex;
}
.pagination_item {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: @colorMain;
    &+& {
        margin-left: 7px;
    }
}
.pagination_item__activ {
    border: 1px solid @colorMain;
    background: none;
}