.ba-container {
  width: 1200px;
  margin: auto;
}

.ba-grid {
  display: grid;
   grid-template-columns: repeat(12, 100px);
   grid-template-rows: repeat(5, 175px);
   grid-gap: 10px;

}
.ba-width-1-1 {
  grid-column: 1 / 6;
}
.ba-width-1-2 {
  grid-column: 7;
}
.ba-width-2-1 {
grid-column: 1/6;
grid-row: 2/3;
}
.ba-width-2-2 {
  grid-column: 7/8;
}
.ba-width-2-3 {
  grid-column: 9/10;
}
.ba-width-2-4 {
  grid-column:11/12;
}
.ba-width-2-5 {
  grid-column: 7/9;
  grid-row: 3;
}
.ba-width-2-6 {
  grid-column: 10/12;
}
.ba-width-3-1 {
  grid-column: 1/4;
  grid-row: 4;
}
.ba-width-3-2 {
  grid-column: 5/8;
  grid-row: 4;
}
.ba-width-3-3 {
  grid-column: 9/10;
  grid-row: 4;
}
.ba-width-3-4 {
  grid-column: 11;
  grid-row: 4;
}
.ba-width-4-1 {
  grid-row: 5;
}
.ba-width-4-2 {
  grid-column: 3/10;
  grid-row: 5;
}
.ba-width-4-3 {
  grid-row: 5;
  grid-column: 9/12;
}
/*.ba-grid > [class*="ba-width-"]{
    float: left;
    padding-left: 20px;
}
[class*="ba-width-"] {
    width: 100%;

}
.ba-grid {
    margin-left: -20px;
}
.ba-grid + .ba-grid {
    margin-top: 20px;
}

.ba-width-1-2 {
    width: 48%;
}
.ba-width-2-1 {
    width: 48%;
}
.ba-width-2-2 {
    width: 14.9%;
}
.ba-width-2-3 {
    width: 23.5%;
}
.ba-width-3-1 {
  width: 31.5%;
}
.ba-width-3-2 {
  width: 14.9%;
}
.ba-width-4-1 {
  width: 15%;
}
.ba-width-4-2 {
  width: 48%;
}
.ba-width-4-3 {
  width: 20%;
}
