*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1170px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.h2 {
    font: 700 35px/60px 'Raleway', sans-serif;
    margin: 60px 0;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

.h2:after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 30px;
    left: 47%;
    width: 85px;
    height: 2px;
    background-color: black;
}


/*start HEADER*/

.head {
    width: 100vw;
    height: 100vh;
    background: url(../img/HEROImg.png) no-repeat;
    background-size: cover;
    color: white;
}

.header {
    width: 1150px;
    margin: auto;
    height: inherit;
    padding: 50px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.link {
    font: 400 14px/37px 'Lato', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 45px;
    color: inherit;
}

.header_title {
    height: 280px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_info {
    width: 630px;
    font: 22px/30px 'Lato', sans-serif;
    text-align: center;
    margin-top: 70px;
}

.h1 {
    font: 700 48px/60px 'Raleway';
    text-transform: uppercase;
    position: relative;
}

.h1:after {
    content: "";
    display: block;
    position: absolute;
    left: 43%;
    margin-top: 40px;
    width: 85px;
    height: 2px;
    background-color: white;
}

.header_btn {
    width: 90px;
    height: 90px;
    margin: 40px auto;
}


/*end HEADER*/


/*start SERVICES*/

.services {
    width: 100vw;
    height: 100vh;
}

.services_content {
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: center;
    margin: 120px;
}

.services_block {
    width: 28%;
    height: 100%;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    margin-left: 50px;

    align-items: center;
    text-align: center;
}

.services_img {
    height: 190px;
}

.services_info {
    margin-top: 40px;
}

.services_text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
}

.h3 {
    font-size: 24px;
}


/*end SERVICES*/


/*start ABOUT US*/

.about {
    width: 100vw;
    height: 100vh;
    background: url(../img/[IMG].png) no-repeat  #222222;
    background-size: cover;
    padding-top: 50px;
    font-family: 'Lato Thin', sans-serif;
    color: white;
    position: relative;
}

.about_text {
    margin: 100px 0 0 90px;
}

.about_h1 {
    font: 400 45px/90px 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about_info {
    display: block;
    width: 440px;
    height: 73px;
    overflow: hidden;
    outline: none;
    font: 300 18px/24px 'Lato', sans-serif;
    text-align: left;
}
.hide {
     visibility: hidden; }

.about_btn {
    display: inline-block;
    margin: 70px 0;
    text-decoration: underline;
    cursor: pointer;
}
.hide:checked + .about_info {
  height: 215px;
  transition: 1s;
}
.hide:not(:checked) + .about_info {
    transition: 1s;
}
.about_img {
    position: absolute;
    padding: 0;
    bottom: 0;
    right: 300px;
}

/*end ABOUT US*/


/*start OUR WORK*/

.ourwork {
    width: 100vw;
    height: 100vh;
}

.ourwork_container {
    width: inherit;
    height: 380px;
    display: flex;
    justify-content: center;
}

.ourwork_img {
    width: 360px;
    height: 380px;
    overflow: hidden;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.ourwork_img:first-child {
    position: relative;
    margin-left: 0px;
    align-items: center;
}

.hover {
    visibility: hidden;
    color: white;
    position: absolute;
    width: 360px;
    height: 380px;
    height: inherit;
    top: 0;
    font-size: 22px;
    background: url(../img/Link1Flaticon.png) no-repeat top 60% center #3a3a3a;
    opacity: 0;
    text-align: center;
}

.hover_text {
    text-transform: uppercase;
    display: inline-block;
    margin-top: 150px;
    font: 24px/1px 'Lato', sans-serif;
}

.ourwork_img:hover .hover {
   visibility: visible;
   transition: 2s;
   opacity: .7;
}

.ourwork_btn {
    width: 370px;
    height: 65px;
    margin: 50px auto;
}

.btn_more {
    width: inherit;
    height: inherit;
    text-transform: uppercase;
    border: 2px solid #222222;
    color: #222222;
    background-color: transparent;
    font: 400 24px/24px 'Lato';
}


/*end OUR WORK*/


/*start FOOTER*/

.footer {
    width: 100vw;
    height: 800px;
    background-size: cover;
    background: url(../img/bg.png) no-repeat 100% black;

}

.footer_h2 {
    font: 700 35px/60px 'Raleway', sans-serif;
    padding-top: 70px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: white;
}

.footer_h2::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 20px;
    left: 47%;
    width: 85px;
    height: 2px;
    background-color: white;
}

.social {
    width: 260px;
    height: 60px;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.social_link {
    margin-left: 25px;
}

.form {
    width: 700px;
    height: 220px;
    margin: auto;
}

.form_email {
    width: inherit;
    height: 80px;
    display: flex;
}

.form_info {
    border-bottom: 1px solid #afafaf;
    width: 300px;
    height: 35px;
}

.form_info:nth-child(2) {
    margin-left: 60px;
}

.form_input {
    width: 280px;
    border: none;
    font-style: italic;
    margin-left: 10px;
    font-size: 17px;
    outline-width: 0px;
    background-color: transparent;
    color: #5a5a5a;
}

.form_text {
    width: 665px;
    border-bottom: 1px solid #afafaf;
    height: 100px;
}

.form_messadge {
    width: 665px;
    border: none;
    font-style: italic;
    font-size: 17px;
    outline-width: 0px;
    margin-left: 10px;
    background-color: transparent;
    color: #5a5a5a;
    margin-top: 70px;
}

.footer_btn {
    margin: 20px auto;
    width: 170px;
    height: 60px;
}

.btn_send {
    width: inherit;
    height: inherit;
    border: 2px solid white;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    font: 400 24px/24px 'Lato';
}