body {
  background-color: white;
}
.wrap {
  width: 800px;
  height: 600px;
  position: relative;
  background:
              url(../img/Group3copy.png) 220%,
              url(../img/Layer5.png),
              url(../img/Layer6.png),
              #c5c5c8;
  margin: 50px auto;
}


.productcard {
  width: 680px;
  height: 390px;
  box-shadow: 0 0 30px;
  background-color: #111a28;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: 18%;
}
.nikecard {
  width: 60%;
  height: 100%;
  display: inline-block;
}
.logo {
  width: 67px;
  height: 35px;
  margin: 25px 20px;
}
.logo__nike {
  width: inherit;
  height: inherit;
}
.nikesb {
  margin: 60px 0 0 40px;
  width: 90%;
}
.nikesb__Shoes {
 width: inherit;
 height: inherit;
}
.dots {
  text-align: center;
  height: 20px;
  width: 75px;
  margin: 60px auto;
}
.dot {
  vertical-align: middle;
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: blueviolet;
}
.dot__Black {
  background-color: #1f273f;
}
.dot__White {
  background-color: white;
}
.dot__Red {
  background-color: red;
}
.dot__Blue {
  background-color: #29e3ea;
}
.dot__Black:hover {
  border: 3px solid #7e838b;
}
.dot__White:hover {
  border: 3px solid #7e838b;
}
.dot__Red:hover {
  border: 3px solid #7e838b;
}
.dot__Blue:hover {
  border: 3px solid #7e838b;
}

.content {
 width: 35%;
 height: 100%;
 color: #d4d5d5;
 display: inline-block;
 position: absolute;
 margin-top: 80px;
}
.aboutnike__title {
  font-size: 24px;
  margin-top: 80px;
}
.aboutnike__text {
  color: #5e646d;
  font-size: 14px;
}
.stars {
  width: 80px;
  height: 15px;
}
.stars__one {
  display: inline-block;
  font-size: 12px;
  color: yellow;
}
.stars__two {
  display: inline-block;
  font-size: 12px;
  color: #9da1a6;
}
.selects {
  width: 150px;
  height: 40px;
}
.selects__input {
  display: inline-block;
  width: 68px;
  height: 30px;
  margin-top: 25px;
}
.selects__size,
.selects__gty {
  height: inherit;
  width: inherit;
  background-color: transparent;
  border: 1px solid #4f5560;
  color: #4f5560;
  font-size: 12px;
  text-align: center;
}
.selects__gty {
  margin-left: 3px;
}
.addtocart__btn {
  width: 180px;
  height: 40px;
  margin-top: 40px;
  border: 1px solid #4f5560;
  background-color: #202835;
  color: #4f5560;
  font-size: 14px;
}
