body {
  background-color: #fefefe;
}
.wrepper {
  width: 1100px;
  height: 500px;
  background-color: white;
  margin: 40px auto;
  padding: 30px 30px 0 60px;
  border: 1px solid grey;
  box-shadow: 0px 0px 5px 0px grey;
}
h1 {
  font-size: 26px;
  font-family: "Times New Roman", serif;
}
p {
  color: #858585;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.025em;

}
span.dropcaps  {
  font-family: "Times New Roman", serif;
  color: black;
  font-size: 75px;
  float: left;
  line-height: 50px;
  padding: 5px 10px 0 3px;
  position: relative;
  }
.quotes {
  font-size: 20px;
  font-style: italic;
}
span {
  font-size: 50px;
  padding-right: 10px;
}
input {
  width: 230px;
  height: 55px;
  border: 2px solid #eaa258;
  color: #eaa258;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: white;
}
