body {
  background: linear-gradient(45deg, #fc4d35, #e02771);
  font-family: "Arial", sans-serif;
  font-size: 13px;
  color: #c1c1c3;
}
.wrap {
  width: 460px;
  height: 470px;
  margin: 60px auto;
  background: white;
  border-radius: 5px;
}
.title {
  width: 400px;
  height: 80px;
  margin: auto;
  padding-top: 20px;
}
.title__icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(../img/signupicon.png) no-repeat;
}
.title__1{
  display: inline-block;
  font-size: 23px;
  font-weight: bold;
  color: black;
}
.title__text {
 line-height: 15px;
}
.link {
  color: #ea355a;
  text-decoration: none;
}
.fields {
  width: 405px;
  height: 150px;
  margin: 20px auto;
}
.fields__first,
.fields__last {
  width: 194px;
  height: 40px;
  display: inline-block;
}
.fields__last {
  margin-left: 10px;
}
.fields__first--style,
.fields__last--style,
.fields__email--style,
.fields__password--style{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  background: #f0f0f0;
}
.fields__email,
.fields__password {
  width: 100%;
  height: 40px;
  margin-top: 15px;
}
.fields__email--style::placeholder {
  color: #ea355a;
}

.button {
  width: 400px;
  height: 50px;
  margin: 15px auto;
}
.button__sign {
  width: 400px;
  height: 50px;
  background-color: #ea355a;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid #bd1962;
}
.button__text {
  margin-top: 20px;
}
