body {
 font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #a0acae;
  background-color: #bfbfbf;
}
.wrap {
  width: 800px;
  height: 600px;
  margin: 50px auto;
  position: relative;
  background-color: #474d4f;
  background-image: url(../img/unsplash.png);
  background-size: 90%;
  background-position: 350% 50%;
  background-repeat: no-repeat;

}
.form {
  width: 335px;
  height: 525px;
  top: 6%;
  left: 30%;
  position: absolute;
  background: #f5f5f5;
}
.form__total {
  width: 100%;
  height: 75px;
  background: #efe4aa;
  color: #61726d;
}
.form__name {
  display: inline-block;
  width: 40%;
  height: 35px;
  font-size: 10px;
  margin: 20px 20px 0 20px;
}
.form__name--style {
  font-size: 14px;
  font-weight: bold;
}
.form__price {
  width: 40%;
  height: 100%;
  text-align: right;
 display: inline-block;
 font-size: 34px;
 font-weight: bold;
}

.form__number {
  width: 283px;
  height: 40px;
  margin: 45px auto;
}


.form__number--style {
  width: 100%;
  height: 100%;
  color: #61726d;
  margin-top: 5px;
  caret-color: orange;
  background: transparent;
  border: 2px solid #a0acae;
}
.fields {
  width: 285px;
  height: 46px;
  margin: 30px auto;
}
.fields__month {
  width: 175px;
  height: 40px;
  display: inline-block;
}
.fields__month--style,
.fields__year--style {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin-top: 5px;
  background: transparent;
  border: 2px solid #a0acae;
  color: #61726d;
}
.fields__year {
  width: 95px;
  height: 40px;
  margin-left: 11px;
  display: inline-block;
}
.cvv {
  width: 285px;
  margin: 30px auto;
}
.cvv--style {
  width: 95px;
  height: 40px;
  margin-top: 5px;
  margin-right: 5px;
  background: transparent;
  border: 2px solid #a0acae;
}
a {
  color: #a0acae;
}
.separator {
  width: 288px;
  height: 2px;
  border-top: 1px solid #e4e7e8;
  margin: 30px auto;
}

.button {
  width: 285px;
  height: 45px;
  margin: auto;
}
.button__pay {
  width: 285px;
  height: 45px;
  background-color: #26b168;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
}
.order {
  width: 85px;
  height: 14px;
  margin: 25px auto;
  text-decoration: underline;
}
