
body {
  background-color: #f1f1f1;
  color: #c2c2c2;
  font-style:  Arial, sans-serif;
  margin: auto;
}
header {
  display: inline-block;
  margin: 40px 0 0 50px;
  text-align: center;
}
input {
  border: none;
  width: 70%;
  font-size: 80px;
  margin-left: 50px;
  color: #ec5a62;
  background-color: #f1f1f1;
}
input::placeholder {
  color: #c2c2c2;
}
button {
  background-color: #f1f1f1;
  border: none;
}
button img {
 width: 40%;
}
h3 {
margin-left: 50px;
}
section {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
div {
  display: inline-block;
  width: 30%;
}
.first img {
  border-radius: 50%;
}
li {
  list-style: none;
  background-color: rgba(118,117,128,0.05);
  margin-top: 5px;
  vertical-align: middle;
  border-radius: 5px;
}
img {
  width: 35px;
  padding: 5px;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color:  #c2c2c2;
}
a:hover {
  color: #ec5a62;
}
li:hover {
    background-color:  rgba(118,117,128,0.1);
}
