*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/30px 'Open Sans', sans-serif;
  color: #60606e;
}
.h2 {
  font: bold 30px/48px 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.h3 {
  font: bold 18px/48px 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}
.header {
  background: linear-gradient(to top, rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../img/Layer4.png);
  background-size: cover;
  background-position: center;
  height: 580px;
  padding: 0 calc((100% - 1240px) / 2);
}
.header_logo {
  padding: 30px;
}
.header_title {
  text-align: center;
  margin: 140px 0 0;
}
.header_pagename {
  font: bold 34px/48px 'Montserrat', sans-serif;
}
.header_subtitle {
  font: bold 14px/48px 'Montserrat', sans-serif;
}
.main {
  width: 1140px;
  margin: auto;
}
.main_columns {
  margin: 140px 0;
  columns: 2;
  column-gap: 30px;
}
.main_center {
  width: 715px;
  height: 95px;
  margin: auto;
  text-align: center;
}
.info_title {
  display: inline-block;
  background: linear-gradient(to top, #7beec7 , #7beec7 );
  background-repeat: no-repeat;
  background-size: 68px 21px;
  background-position: left bottom;
}

.info_subtitle {
  text-transform: uppercase;
  font: bold 14px/48px 'Montserrat', sans-serif;
  margin: 5px 0;
}
.main_direction {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px 45px;
  margin: 100px 0;
}
.direction_icon {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.icon__1 {
  background: url(../img/1.png) no-repeat center #7beec7;
}
.icon__2 {
  background: url(../img/2.png) no-repeat center #7beec7;
}
.icon__3 {
  background: url(../img/3.png) no-repeat center #7beec7;
}
.icon__4 {
  background: url(../img/4.png) no-repeat center #7beec7;
}
.icon__5 {
  background: url(../img/6.png) no-repeat center #7beec7;
}
.icon__6 {
  background: url(../img/5.png) no-repeat center #7beec7;
}
.main_people {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 100px 0 30px 0;
}
.button {
  font: bold 14px/48px 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 30px;
  text-align: center;
  color: #000;
  border: 0;
  background: #7beec7;
}
.button__light {
  background: white;
  color:  #7beec7;
}
.subscribe {
  padding: 15px 25px;
  background-color: white;
}
.h4 {
  font: bold 28px/48px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #60606e;
}
.subscribe_text {
  color: #b3b3b3;
  line-height: 20px;
}
.subscribe_form {
  font-size: 0;
  margin-top: 30px;
  width: 510px;
  height: 50;
}
.subscribe_email {
  display: inline-block;
  width: 370px;
  height: 38px;
}
.subscribe_submit {
  display: inline-block;
  font: bold 14px/1 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.button_send {
  width: 140px;
  height: 40px;
  color: white;
  font: bold 14px/1 'Montserrat', sans-serif;
  background-color: #7beec7;
  border: 0;
  text-transform: uppercase;
}

input {
  font: 12px/1 'Montserrat', sans-serif;
  background: white;
  color: #b3b3b3;
  text-transform: uppercase;
  padding: 16px 30px;
  border-right: none;
  border: 1px solid #ececec;
}
input::placeholder {
    color: #b3b3b3;
}

.footer {
  columns: 2;
  background: #7beec7;
  padding: 50px calc((100% - 1240px) / 2);
  color: white;
}
