*,
::after,
::before {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
  font-family:  'Lato Regular', sans-serif;
}
body {
  font-size: 16px;
}

.head {
  width: 100vw;
  height: 650px;
  margin: 0 auto;
  background-image: url(../img/computer.png);
  background-repeat: no-repeat;
  background-color: #3c4955;
  color: white;
}
.header {
  width: 1140px;
  padding-top: 30px;
  margin: auto;
}
.nav-main__logo {
  display: inline-block;
  width: 40%;
}
.nav-main__links {
  vertical-align: top;
  display: inline-block;
  width: 58%;
}
.nav-main__links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 100px;
    text-align: right;
    margin-left: 90px;
}
.header__text {
  margin: 150px auto 40px auto;
  width: 960px;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
}
.header__text1 {
  font-size: 50px;
  font-weight: bold;
}
.header__btn {
  width: 140px;
  height: 40px;
  margin: auto;
}
.header__btn-style {
  width: 100%;
  height: 100%;
  border: 2px solid #48bf72;
  border-radius: 2px;
  color: #48bf72;
  font-size: 16px;
  background-color: transparent;
}
.portfolio {
  width: 100vw;
  height: 1045px;
}
.filtres {
  width: 665px;
  height: 30px;
  margin: 50px auto;
}
.filtres__btn {
  display: inline-block;
  margin-left: 8px;
}
.filtres__btn--style {
 height: 30px;
 width: 120px;
 border: none;
 background: #eaeaea;
}
.filtres__btn--style:active {
  background: #48bf72;
  border: none;
  color: white;
}

.items {
  width: 1150px;
  height: 840px;
  margin: 50px auto;
}
.items__block1 {
  width: 440px;
  height: 840px;
  margin-left: 10px;
  display: inline-block;
}
.items1 {
  width: 440px;
  height: 300px;
  border-radius: 10px;
  background: url(../img/Groupe11.png) center;
  background-color: #53ba71;
}
.items2 {
  width: 440px;
  height: 480px;
  background: url(../img/filters2.png) center;
  border-radius: 10px;
  margin-top: 40px;
}
.items__block2 {
  width: 650px;
  height: 840px;
  margin-left: 30px;
  display: inline-block;
}
.items3 {
  width: 650px;
  height: 440px;
  background-image: url(../img/Groupe1.png);
  border-radius: 10px;
}
.items4 {
  width: 650px;
  height: 350px;
  background: url(../img/5px.png) center;
  border-radius: 10px;
  margin-top: 30px;
}
.about {
  width: 100vw;
  height: 450px;
  background-color: #3c4955;
  background-image: url(../img/men-computer.png);
  background-position: center;

}
.about__text {
  width: 440px;
  height: 250px;
  color: white;
  font-size: 16px;
  padding-top: 60px;
  font-family: 'Lato Regular', sans-serif;
  margin-left: 50%;
}
.about__text p:last-child {
  margin-top: 40px;
  font-size: 14px;
}
.about__btn {
  width: 150px;
  height: 40px;
  margin-left: 50%;
}
.btn-contanct {
  width: 100%;
  height: 100%;
  color: #3c4955;
  background: transparent;
  font-size: 16px;
  border: 1px solid #3c4955;
}

.contact {
  width: 100vw;
  height: 560px;
}
.contact__title {
  width: 230px;
  height: 30px;
  margin: 50px auto;
  color: #48bf72;
  font-size: 24px;
}
.formulaire {
  width: 700px;
  height: 305px;
  margin: 50px auto;
}
.nom,
.email {
  width: 325px;
  height: 50px;
  border: 2px solid #3c4955;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}
.email {
  margin-left: 30px;
}
.nom__user {
  width: 50px;
  height: inherit;
  display: inline-block;
  background-color: #3c4955;
  background-image: url(../img/user.png);
  background-position: center;
  background-repeat: no-repeat;
}
.nom__arrow {
  width: 12px;
  height: 12px;
  background-color: #3c4955;
  transform: rotate(45deg);
  position: absolute;
  left: 43px;
  top: 18px;
}
.nom__input,
.email__input  {
 width: 260px;
 height: 46px;
 position: absolute;
 left: 60px;
 border: none;
}
.email__user {
  width: 50px;
  height: inherit;
  display: inline-block;
  background-color: #3c4955;
  background-image: url(../img/mail.png);
  background-position: center;
  background-repeat: no-repeat;
}
.messadge {
  width: 695px;
  height: 220px;
  border: 2px solid #3c4955;
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
}
.messadge__icon {
  width: 50px;
  height: inherit;
  background-color: #3c4955;
  background-image: url(../img/crayon.png);
  background-position: 10px 8px;
  background-repeat: no-repeat;
}
.messadge__input1 {
  width: 630px;
  height: 215px;
  border: none;
  position: absolute;
  left: 60px;
  top: 0;
}
.formulaire__btn {
  width: 700px;
  height: 50px;
  margin: 20px auto;
  color: white;
  background: #48bf72;
  border-radius: 5px;
  border: none;
}
.footer {
  width: 100vw;
  height: 160px;
  background-color: #3c4955;
}
.footer__wrap {
  width: 1140px;
  height: 65px;
  margin: auto;
  font-size: 0;
  padding-top: 40px;
}
.footer__copyright {
  width: 360px;
  height: 45px;
  font-size: 14px;
  color: white;
  padding-top: 15px;
  display: inline-block;
  vertical-align: top;
  font-family: 'Lato Regular', sans-serif;
}
.footer__social {
  width: 350px;
  height: 55px;
  display: inline-block;
  margin-left: 400px;
}

.social__tw {
  width: 50px;
  height: 55px;
  display: inline-block;
  background:
  url(../img/twitter.png) no-repeat center,
  url(../img/polygon4.png) no-repeat;
}
.social__in,
.social__drib,
.social__be {
  width: 50px;
  height: 55px;
  display: inline-block;
  margin-left: 40px;
}

.social__in {
  background:
  url(../img/linkedin.png) no-repeat center,
  url(../img/polygon3.png) no-repeat;
}
.social__drib {
  background:
  url(../img/dribbble.png) no-repeat center,
  url(../img/polygon2.png) no-repeat;
}
.social__be {
  background:
  url(../img/behance.png) no-repeat center,
  url(../img/polygon.png) no-repeat;
}
