
div {
  width: 400px;
  height: 400px;
  background: #252137;
  background:
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	#253137;
  background-size: 100px 100px;
}
.red {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 58px;
  border-radius: 50%;
  background-color: red;
}
.red:nth-child(2) {
  left: 158px;
}
.red:nth-child(3) {
  left: 258px;
}
.red:nth-child(4) {
  left: 358px;
}
.red:nth-child(5) {
  left: 8px;
  top: 58px;
}
.red:nth-child(6) {
  left: 108px;
  top: 58px;
}
.red:nth-child(7) {
left: 208px;
  top: 58px;
}
.red:nth-child(8) {
  left: 308px;
  top: 58px;
}
.red:nth-child(9) {
  left: 58px;
  top: 108px;
}
.red:nth-child(10) {
  left: 158px;
  top: 108px;
}
.red:nth-child(11) {
  left: 258px;
  top: 108px;
}
.red:nth-child(12) {
  left: 358px;
  top: 108px;
}
.white {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}
.white:first-child {
 top: 358px;
}
.white:nth-child(2) {
 top: 358px;
 left: 108px;
}
.white:nth-child(3) {
 top: 358px;
 left: 208px;
}
.white:nth-child(4) {
 top: 358px;
 left: 308px;
}
.white:nth-child(5) {
top: 308px;
left: 58px;
}
.white:nth-child(6) {
  top: 308px;
  left: 158px;
}
.white:nth-child(7) {
  top: 308px;
  left: 258px;
}
.white:nth-child(8) {
  top: 308px;
  left: 358px;
}
.white:nth-child(9) {
  top: 258px;
}
.white:nth-child(10) {
  top: 258px;
  left: 108px;
}
.white:nth-child(11) {
  top: 258px;
  left: 208px;
}
.white:nth-child(12) {
  top: 258px;
  left: 308px;
}
