body {
  height: 94vh;
  font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
  background-color: #3399cc;
  color: white;
  border: 3vh solid #2b81ac;
  margin: auto;
}
header {
  margin-left: 330px;
  margin-top: 40px;
}
ul {
  width: 50%;
  margin: 20px auto;
  font-size: 0;
  border: 2px solid white;
  display: block;
  padding: 0;
  background-color: white;
  text-align: center;
}

li {
  list-style-type: none;
  display: inline-block;
  border: 2px solid white;
  width: 25%;
  height: 90px;
  font-size: 16px;
  opacity: 0.7;
  line-height: 40px;
  vertical-align: middle;
  box-sizing: border-box;
}
li:hover {
  opacity: 1;
}

li:nth-child(8n+1) {
  width: 50%;
}
li:first-child {
  background-color: #3399cc;
}
li:nth-child(2) {
  background-color: #33cccc;
}
li:nth-child(3) {
  background-color: #996699;
}
li:nth-child(4) {
  background-color: #c24747;
}
li:nth-child(5) {
  background-color: #e2674a;
}
li:nth-child(6) {
  background-color: #ffcc66;
}
li:nth-child(7) {
  background-color: #99cc99;
}
li:nth-child(8) {
  background-color: #669999;
}
li:nth-child(9) {
  background-color: #cc6699;
}
li:nth-child(10) {
  background-color: #339966;
}
li:last-child {
  width: 100%;
  background-color: #666699;
}
i {
  font-size: 22px;
}

footer {
  margin-left: 330px;
}
