*,
::after,
::before {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eeeeee;
  font: 18px/24px "Raleway", sans-serif;
  color: #303030;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.header {
  padding: 50px 0;
  background: radial-gradient(ellipse at center, #ffffff 16%,#eeeeee 57%,#ededed 100%);
  background-position: 200px 0;
  background-repeat: no-repeat;
}
.nav-main {
  font-size: 0;
}
.nav-main-links a {
  font: 18px/1 Roboto, sans-serif;
  color: #303030;
  letter-spacing: .025em;
  text-decoration: none;
  margin-right: 50px;
}
.nav-main-links,
.nav-main-logo {
  width: 50%;
  display: inline-block;
}
.nav-main-links {
  text-align: right;
}
.menu {
  display: inline-block;
  width: 17px;
  height: 14px;
  background: url(../img/Menu.png);
}
.slider {
  margin-top: 120px;
  height: 650px;
}
.block1 {
  width: 605px;
  height: inherit;
  display: inline-block;
  float: left;
  font-size: 22px;
  text-align: right;
  font-family: "Raleway", sans-serif;
}
.headphones {
  display: inline-block;
  margin-left: 100px;
}
.block1 p {
  width: 90%;
  margin-left: 10%;
  margin-top: 50px;
}
span {
  font: 145px/1 'Raleway', sans-serif;
  font-weight: bold;
}
 .block1 a {
  color: red;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin-top: 40px;
}
.slider-circle {
  width: 60px;
  height: 18px;
  display: inline-block;
  margin-top: 90px;
}
.black {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  padding: 0px;
  background-color: black;
  display: inline-block;
}
.red {
  background: red;
}
.product-list {
  background: white;
  border-radius: 5px;
  height: 1195px;
}
.featured-product,
.productman {
  width: 580px;
  display: inline-block;
  text-align: center;
  padding-top: 110px;
  margin-left: 25%;
}
h1 {
  font-size: 36px;
}
.featured-product img {
  padding: 10px 0 10px 0;
}
.product {
  padding: 70px 63px;
  font-size: 0px;
}
.product-item {
  width: 328px;
  height: 387px;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 15px;
  background: #eeeeee;
  cursor: pointer;
}
.product-item-strong {
  width: 686px;
}
.product-item .product-image1 {
  margin: -95px -85px;
}
.product-item .product-image2 {
  width: 130%;
  margin: -70px 0px;
}
.product-item .product-image3 {
  width: 200%;
}
.product-item .product-image4 {
  margin: -15px -355px;
}
.product-item .product-image5 {
  width: 170%;
  height: 100%;
  margin-left: -90px;
}
.product-image3 {
  transition: all 0.5s;
}
.product-overlay {
  display: none;
  width: inherit;
  height: inherit;
  background-color: red;
  color: white;
  font-size: 20px;
}
.product-item:hover .product-overlay {
  display: block;
}
.product-item:hover .product-image3 {
  display: none;
  transform: scale(1.05);
}
.subscribe {
  background-color: white;
  border-radius: 100px;
  width: 715px;
  height: 70px;
  margin: 50px auto;
  vertical-align: top;
}
.envelope {
  width: 18px;
  height: 16px;
  font-size: 24px;
  display: inline-block;
  margin: 23px 33px 0px 30px;
  vertical-align: top;
}
.subscribe-form {
    height: 100%;
    font-size: 0;
}
.subscribe-input {
    width: 415px;
    border: 0;
    height: 100%;
    vertical-align: top;
    font-size: 18px;
    font-style: italic;
  }
.subscribe-button {
  background-color: red;
  color: white;
  font: 18px/1 "Roboto", sans-serif;
  text-transform: uppercase;
  border: 0;
  height: 100%;
  width: 217px;
  border-radius: 0 100px 100px 0;
}
.productman p{
 margin-top:  40px;
}
.social {
  width: 400px;
  margin: auto;
  margin-top: 115px;
  height: 80px;
}
.circle {
  width: 70px;
  height: 70px;
  background: white;
  padding: 0px;
  border-radius: 50px;
  display: inline-block;
  margin-left: 25px;
}
  .fb {
  background: url(../img/fb.png) center no-repeat;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
}
.twitter {
  background: url(../img/tw.png) center no-repeat;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
}
.youtube {
  background: url(../img/yb.png) center no-repeat;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
}
.me {
  background: url(../img/me.png) center no-repeat;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
}
footer {
  margin-top: 60px;
  margin-left: 30%;
  font: 18px/1 "Roboto", sans-serif;
  color: #aeaeae;
}
strong {
  color: black;
}
