*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    letter-spacing: .16em;
    line-height: 1.3;
}

p {
    margin: 0 0 0 25px;
}

.svg_sprite {
    display: none;
}

body {
    font: 300 16px/24px 'Lato', Arial, sans-serif;
    color: 3c3c3c;
}

.ba-container {
    max-width: 940px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.ba-header {
    background: url(../img/hero-bg.png) 50% no-repeat #afbace;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 284px 0 384px;
    min-height: 100vh;
    letter-spacing: .06em;
    text-transform: uppercase;
    line-height: 2;
    position: relative;
}

.ba-container__hero {
    max-width: 640px;
}

.ba-logo {
    display: inline-block;
    margin-left: 200px;
    margin-bottom: 80px;
}

.ba-header_title {
    text-transform: uppercase;
    font-size: 54px;
    margin: 0 0 35px;
}

.ba-scroll {
    display: block;
    width: 23px;
    height: 27px;
    position: absolute;
    left: 50%;
    bottom: 115px;
    margin-left: -12px;
    background: url() 50% no-repeat;
    background-size: cover;
}

.ba-scroll:hover {
    opacity: .6;
}


/* ABOUT*/

.ba-about {
    padding: 160px 0;
}

.ba-box {
    border: 2px solid #3c3c3c;
    border-width: 0 2px 2px;
    position: relative;
    padding: 70px 180px 26px;
    text-align: center;
}

.ba-box:last-child {
    margin-bottom: 0;
}

.ba-box::before,
.ba-box::after {
    display: block;
    content: "";
    position: absolute;
    height: 2px;
    width: 21%;
    background-color: #3c3c3c;
    top: 0;
}

.ba-box::before {
    left: 0;
}

.ba-box::after {
    right: 0;
}

.ba-box_title {
    text-transform: uppercase;
    font-size: 34px;
    position: absolute;
    text-align: center;
    left: 35%;
    top: 0;
    margin: 0;
    width: 32%;
    transform: translateY(-50%);
}


/*Services*/

.ba-section {
    padding: 130px 0 110px;
}

.ba-section__services {
    background: url(../img/services.png) 50% no-repeat #afbace;
    background-size: cover;
    color: white;
}

.ba-box__light {
    border-color: white;
}

.ba-box__light::before,
.ba-box__light::after {
    background-color: white;
}


/*what we do*/

.whatwedo_title {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 30px;
}

.whatwedo_img {
    margin: 50px 0 0 230px;
}

.whatwedo_info {
    margin-bottom: 80px;
}

.ba-section_btn {
    width: 395px;
    height: 60px;
    color: white;
    text-transform: uppercase;
    background-color: #3c3c3c;
    border: none;
    margin: 40px 0 25px;
    letter-spacing: .16em;
    line-height: 1.3;
    font-size: 16px;
}


/*our works*/

.ba-ourworks {
    width: 100vw;
    height: 550px;
}

.ba-ourworks_picture {
    display: flex;
    justify-content: space-between;
}

.ba-ourworks_block {
    position: relative;
    margin-bottom: 10px;
}

.ba-ourworks_block:nth-child(2),
.ba-ourworks_block:nth-child(3) {
    margin-left: 10px;
}

.ba-ourworks_title {
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    color: white;
    left: 40px;
    bottom: 40px;
}

.ba-ourworks_link {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.ba-ourworks_img {
    height: 235px;
    position: relative;
}


/*footer*/

.ba-footer {
    display: flex;
    justify-content: center;
    padding: 65px 0;
}

.ba-footer_copyright {
    margin-left: 40px;
}